{% extends "layout.html" %}
{% block content %}

<div class = "home" >
    <h1>Biografia</h1>
</div>

<div class = "card" id = "candycard" >
  <div class="container" id= "container1">
    <p>Nombre: Candy</p>
     <img src="static/files/Candy.jpg" alt="Candy">
     <p class = "details" >Es un hermoso perro cocker spaniel</p>
  </div>
  </div>

  <div class = "card" id= "deedeecard" >
    <div class="container" id= "container2">
      <p>Nombre: Dee Dee</p>
       <img src="static/files/Dee Dee.jpg" alt="Dee Dee">
       <p class = "details" >Es un hermoso perro poodle</p>
    </div>
    </div>

{% endblock %}
